<% include ../partials/header %>
<div class="container">
       <header class="jumbotron">
        <h1><span class="glyphicon glyphicon-tent"></span>Welcome to Yelp Camp</h1>
        <p>View Best Campsite from all over the world!!</p> 
            <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a new Campsite</a>
    </header>
    

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% campgrounds.forEach(function(campground){  %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img  id="camp_img" src="<%= campground.image %>">
                    <div class="caption font1">
                        <%= campground.name %>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
    
        <% });%>
    </div>
</div>

<% include ../partials/footer %>